@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282839;
    --foreground: #ededed;
  }
} */

/* @font-face {
  font-family: "intelone-mono-font-family-regular";
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'MonoplexKRNerd-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-nerd@1.0/MonoplexKRNerd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #282839;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "MonoplexKRNerd-Bold";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
