@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282839;
    --foreground: #ededed;
  }
} */

:root {
  --background: #282839;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "ubuntu";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
